-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "NotificationStatus" AS ENUM ('PENDING', 'SENT', 'FAILED');

-- CreateTable
CREATE TABLE "clinics" (
    "id" TEXT NOT NULL,
    "nomeClinica" TEXT NOT NULL,
    "nomeMedico" TEXT NOT NULL,
    "endereco" TEXT,
    "telefone" TEXT,
    "consultaValor" DOUBLE PRECISION,
    "consultaDuracao" INTEGER,
    "promocaoAtiva" BOOLEAN NOT NULL DEFAULT false,
    "promocaoTexto" TEXT,
    "descricaoServicos" TEXT,
    "faq" TEXT,
    "regrasPersonalizadas" TEXT,
    "timezone" TEXT NOT NULL DEFAULT 'America/Sao_Paulo',
    "prioritySuggestions" JSONB DEFAULT '[]',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "clinics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "clinicId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL DEFAULT '',
    "role" TEXT NOT NULL DEFAULT 'ADMIN',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contacts" (
    "id" TEXT NOT NULL,
    "clinicId" TEXT NOT NULL,
    "phoneNumber" TEXT NOT NULL,
    "name" TEXT,
    "isAdmin" BOOLEAN NOT NULL DEFAULT false,
    "isHotLead" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "contacts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "conversations" (
    "id" TEXT NOT NULL,
    "clinicId" TEXT NOT NULL,
    "contactId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'NORMAL',
    "lastMessageAuthor" TEXT,
    "lastMessageAt" TIMESTAMP(3),
    "lastProcessedMessageId" TEXT,
    "bufferStartedAt" TIMESTAMP(3),
    "state" TEXT NOT NULL DEFAULT 'IDLE',
    "lastOfferedSlots" JSONB DEFAULT '[]',
    "humanInterventionAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "conversations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "messages" (
    "id" TEXT NOT NULL,
    "clinicId" TEXT NOT NULL,
    "conversationId" TEXT NOT NULL,
    "externalMessageId" TEXT,
    "author" TEXT NOT NULL,
    "messageType" TEXT NOT NULL DEFAULT 'TEXT',
    "content" TEXT NOT NULL,
    "sentAt" TIMESTAMP(3),
    "processed" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "appointments" (
    "id" TEXT NOT NULL,
    "clinicId" TEXT NOT NULL,
    "contactId" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'CONSULTA',
    "subtype" TEXT,
    "status" TEXT NOT NULL DEFAULT 'AGENDADO',
    "date" TEXT NOT NULL,
    "time" TEXT NOT NULL,
    "source" TEXT NOT NULL DEFAULT 'MANUAL',
    "notes" TEXT,
    "reminderSentAt" TIMESTAMP(3),
    "notificationStatus" "NotificationStatus" NOT NULL DEFAULT 'PENDING',
    "notificationAttempts" INTEGER NOT NULL DEFAULT 0,
    "notificationLastError" TEXT,
    "notificationLastAttemptAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "appointments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "schedule_blocks" (
    "id" TEXT NOT NULL,
    "clinicId" TEXT NOT NULL,
    "blockDate" TEXT NOT NULL,
    "isAvailable" BOOLEAN NOT NULL DEFAULT false,
    "reason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "schedule_blocks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" TEXT NOT NULL,
    "clinicId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "contactId" TEXT,
    "message" TEXT NOT NULL,
    "sent" BOOLEAN NOT NULL DEFAULT false,
    "sentAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "settings" (
    "id" TEXT NOT NULL,
    "clinicId" TEXT NOT NULL,
    "robotEnabled" BOOLEAN NOT NULL DEFAULT true,
    "robotModeDefault" TEXT NOT NULL DEFAULT 'AUTO',
    "debounceSeconds" INTEGER NOT NULL DEFAULT 8,
    "adminPhoneNumber" TEXT,
    "whatsappInstance" TEXT,
    "whatsappToken" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "logs" (
    "id" TEXT NOT NULL,
    "clinicId" TEXT NOT NULL,
    "level" TEXT NOT NULL DEFAULT 'INFO',
    "event" TEXT NOT NULL,
    "details" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "users_clinicId_idx" ON "users"("clinicId");

-- CreateIndex
CREATE UNIQUE INDEX "users_clinicId_email_key" ON "users"("clinicId", "email");

-- CreateIndex
CREATE INDEX "contacts_clinicId_idx" ON "contacts"("clinicId");

-- CreateIndex
CREATE UNIQUE INDEX "contacts_clinicId_phoneNumber_key" ON "contacts"("clinicId", "phoneNumber");

-- CreateIndex
CREATE INDEX "conversations_clinicId_contactId_idx" ON "conversations"("clinicId", "contactId");

-- CreateIndex
CREATE INDEX "conversations_clinicId_status_idx" ON "conversations"("clinicId", "status");

-- CreateIndex
CREATE INDEX "conversations_clinicId_lastMessageAt_idx" ON "conversations"("clinicId", "lastMessageAt");

-- CreateIndex
CREATE INDEX "messages_clinicId_conversationId_idx" ON "messages"("clinicId", "conversationId");

-- CreateIndex
CREATE UNIQUE INDEX "messages_clinicId_externalMessageId_key" ON "messages"("clinicId", "externalMessageId");

-- CreateIndex
CREATE INDEX "appointments_clinicId_date_idx" ON "appointments"("clinicId", "date");

-- CreateIndex
CREATE INDEX "appointments_clinicId_contactId_idx" ON "appointments"("clinicId", "contactId");

-- CreateIndex
CREATE UNIQUE INDEX "appointments_clinicId_date_time_key" ON "appointments"("clinicId", "date", "time");

-- CreateIndex
CREATE INDEX "schedule_blocks_clinicId_blockDate_idx" ON "schedule_blocks"("clinicId", "blockDate");

-- CreateIndex
CREATE INDEX "notifications_clinicId_contactId_idx" ON "notifications"("clinicId", "contactId");

-- CreateIndex
CREATE INDEX "notifications_clinicId_sent_idx" ON "notifications"("clinicId", "sent");

-- CreateIndex
CREATE UNIQUE INDEX "settings_clinicId_key" ON "settings"("clinicId");

-- CreateIndex
CREATE INDEX "logs_clinicId_createdAt_idx" ON "logs"("clinicId", "createdAt");

-- CreateIndex
CREATE INDEX "logs_clinicId_level_idx" ON "logs"("clinicId", "level");

